/* #str{
    height: 150px;
    width: 100px;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid black;
    
} */

/* .content{
    color: red;
}

.newclass{
    background-color: cornflowerblue;
} */

